<!-- Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog bg-dark">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edita tu perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form
          id="edit-profile"
          class="px-md-2"
          action="/edit-profile"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="d-flex justify-content-between">
            <div class="form-outline mb-2">
              <label class="form-label text-white font-register" for="firstname">Nombre</label>
              <input
                type="text"
                id="firstname"
                class="form-control rounded-pill"
                name="firstname"
                placeholder="Inserte su nombre aquí.."
                value="<%=user.firstname%>"
              />
            </div>
            <div class="form-outline mb-2">
              <label class="form-label text-white font-register" for="lastname">Apellido</label>
              <input
                type="text"
                id="lastname"
                class="form-control rounded-pill"
                name="lastname"
                placeholder="Inserte su apellido aquí.."
                value="<%=user.lastname%>"
              />
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-outline mb-2">
              <label class="form-label text-white font-register" for="email">E-mail</label>
              <input
                type="email"
                id="email"
                class="form-control rounded-pill"
                name="email"
                placeholder="Inserte su email aquí.."
                value="<%=user.email%>"
              />
            </div>
            <div class="form-outline mb-2">
              <label class="form-label font-register text-white me-5" for="birthDate"
                >Fecha de nacimiento</label
              >
              <input
                class="rounded-pill form-control mb-2"
                type="date"
                id="birthDate"
                name="birthDate"
                value="<%=user.birthDate%>"
              />
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-outline mb-2 text-white">
              <label class="form-label font-register" for="userName">Username</label>
              <div class="rounded-pill">
                <input
                  type="text"
                  id="userName"
                  class="form-control rounded-pill"
                  name="userName"
                  placeholder="Inserte su nuuevo suario aquí.."
                  value="<%=user.userName%>"
                />
              </div>
            </div>
            <div class="form-outline mb-2">
              <label class="form-label text-white font-register" for="password">Contraseña</label>
              <input
                type="password"
                id="password"
                class="form-control rounded-pill"
                name="password"
                placeholder="Inserte su nueva contraseña aquí.."
              />
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="form-outline mb-2">
              <label for="photoProfile" class="form-label text-white font-register"
                >Imagen de perfil</label
              >
              <input
                style="width: 13rem"
                type="file"
                class="form-control rounded-pill"
                id="photoProfile"
                name="photoProfile"
                placeholder="Imagen de perfil"
                accept="image/png, image/jpeg"
                value="<%=user.photoProfile%>"
              />
            </div>
            <div class="form-outline mb-2">
              <label for="photoCover" class="form-label text-white font-register"
                >Imagen de portada</label
              >
              <input
                style="width: 13rem"
                type="file"
                class="form-control rounded-pill"
                id="photoCover"
                name="photoCover"
                placeholder="Imagen de perfil"
                accept="image/png, image/jpeg"
                value="<%=user.photoCover%>"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="bt-0 btn btn-primary rounded-pill mt-4 font-register">
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
